:root {
  --fw-900: 900;
  --bw: 500px;
  --bh: 500px;
}

.parent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  margin-top: 40px;
}

.block-list-container {
  width: min(90vw, 350px);
  min-width: 150px;
  max-width: 100%;
  height: auto;
  border-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}

.title {
  font-weight: var(--fw-900);
  letter-spacing: 0.5px;
}

.block-list {
  list-style-type: none;
  word-spacing: 10px;
  margin: 2px 0px 7px 0px;
  display: inline-block;
  text-align: left;
}

.block-list-child {
  margin-top: 5px;
}
