:root {
  --bg-colour: #fdecd3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-colour);
  font-family: Arial, sans-serif;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 15px;
  border-width: 0;
  padding: 0;
  margin: 0;
}

.child-link {
  width: 250px;
  padding: 10px;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: background-color 0.35s ease-in-out;
  transition: transform 0.5s ease-in-out; 
}

.child-link:hover {
  background-color: rgba(22, 60, 94, 0.159);
  transition: background-color 0.4s ease-in-out;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.hs {
  animation: slideDown 2s ease-in-out;
}

.ap,
.ys {
  animation: slideLeft 2s ease-in-out;
}

.wm {
  animation: slideRight 2s ease-in-out;
}

.sa {
  animation: slideUp 2s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(250px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-250px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
