@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap');
@import "tailwindcss";

:root {
  --bg-color: rgb(253, 236, 211);
  --color: rgb(22, 60, 94);
  --font: "roboto", "cairo";
  --bg-img: url("https://firebasestorage.googleapis.com/v0/b/mazjid-a37fd.appspot.com/o/mazjid-a37fd%2Fassets%2Fimg%2Ftile1.svg?alt=media");
}

body {
  background: var(--bg-color) var(--bg-img);
}

.overlay::backdrop {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  backdrop-filter: blur(
    10px
  );
}

.animate-slideUp {
  animation: slideUp 1.5s ease-in-out;
}

.animate-slideDown {
  animation: slideDown 1.5s ease-in-out;
}

.animate-slideRight {
  animation: slideRight 1.5s ease-in-out;
}

.animate-slideLeft {
  animation: slideLeft 1.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(250px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-250px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
